/* You can add global styles to this file, and also import other style files */
body { background-color: #f4f4f4; }
body app-root>.header {
    background-color: #134280;
    width: 100%;
    padding: 10px 0px;
}

body app-root>.header .header-img { margin-left: 20px; }
body .bodyList { padding: 20px; }
.card {
    margin: 5px;
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    -ms-border-radius: 0px !important;
    -o-border-radius: 0px !important;
    padding: 5px;
}
.title_mobile { display: none; }

.card .title {
    font-weight: 700;
    margin-bottom: 0px;
    margin-left: 5px;
}

.card .title-filter {
    font-weight: 600;
    color: #157ab1;
    margin-bottom: 10px;
    font-size: 14px;
    width: 100%;
    cursor: pointer;
}

.card .title-filter svg {
    float: right;
    margin-top: 8px;
    margin-right: 15px;
}

.btn-filter {
    border: 1px solid #134280;
    border-bottom: 1px solid #00163c;
    border-radius: 2px;
    background: #134280;
    color: #fff;
    padding: 4px 10px;
    font-size: 14px;
    font-weight: bold;
    margin-left: 20px;
}

.image-filter {
    width: 12px;
    height: 12px;
    display: inline-block;
    margin: 5px 5px;
    float: left;
}

.image-filter svg:root, .image-filter svg path {
    fill: #157ab1;
    stroke: #157ab1;
}

.arrow_down {
    fill: #157ab1;
    stroke: #157ab1;
    stroke-width: 1;
    float: right;
    margin-top: 3px;
}

.div-star { display: inline-block; }

.div-star star-svg, .div-star star-svg svg {
    width: 12px;
    height: 12px;
    display: inline-block;
    margin: 3px 3px;
    float: left;
}

.div-star star-svg path {
    fill: #fdba12;
}
/** CSS card-hotel */
.card-hotel { margin-bottom: 15px; }
.card-hotel .card-hotel-image { width: 100%; }

.card-hotel .name {
    color: #157ab1;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 15px;
}

.card-hotel .stars img, .card-hotel .amenities-hotel img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
}
.card-hotel .stars star-svg, .card-hotel .stars star-svg svg {
    width: 16px;
    display: inline-block;
}
.card-hotel .stars star-svg path {
    fill: #fdba12;
}
.card-hotel .amenities-hotel img {
    width: 15px;
    margin-right: 8px;
}

.card-hotel .col-price {
    border-left: 1px dashed #cccccc;
    text-align: center;
    padding: 25px 15px 0px;
}

.card-hotel .col-price p {
    font-size: 12px;
    width: 60%;
    text-align: center;
    color: #444444;
    margin: auto;
}

.card-hotel .col-price p.hotel-price {
    font-size: 24px;
    color: #df6800;
    width: 100%;
    margin-bottom: 10px;
}

.card-hotel .col-price p.hotel-price b {
    font-size: 36px;
    position: relative;
    top: 3px;
}

.card-hotel .col-price .btn {
    border: 1px solid #134280;
    border-bottom: 1px solid #00163c;
    border-radius: 5px;
    background: #134280;
    color: #fff;
    padding: 5px 30px;
    font-size: 16px;
    font-weight: bold;
}

/** Fin CSS card-hotel */

/* Loader */
.preloader-content {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    background: #fefefe;
    opacity: .6;
    top: 0px;
    left: 0px;
    z-index: 10000;
    text-align: center;
}

.preloader {
    display: inline-block;
    position: relative;
    width: 160px;
    height: 160px;
    -webkit-animation: container-rotate 1568ms linear infinite;
    -moz-animation: container-rotate 1568ms linear infinite;
    -o-animation: container-rotate 1568ms linear infinite;
    animation: container-rotate 1568ms linear infinite;
    top: 40%;
    left: 0%;
}

.preloader img {
    width: 100%;
}

/**  Media */
@media only screen and (max-width: 991px) {
    .card-hotel .col-price p.hotel-price { font-size: 20px; }
    .card-hotel .col-price p.hotel-price b { font-size: 30px; }
}

@media only screen and (max-width: 768px) {
    body .bodyList {
        padding: 0px;
        max-width: 100%;
        margin: 0px;
    }
    body .div-filters {
        padding: 0px;
    }
    body .div-filters .card{
        margin: 0px;
        width: 100%;
    }
    body .div-filters .card.filter-name, body .div-filters .card.filter-stars {
        display: none;
    }
    body .div-filters .card.filter-name { text-align: center; }
    body .div-filters .card.filter-name p { text-align: left; }
    body .div-filters .card.filter-name input {
        width: 100%;
        margin-bottom: 20px;
    }
    body .div-filters .card.filter-name button {
        margin: auto;
    }
    .filter-header .body .title { display: none; }
    .filter-header .body .title_mobile { 
        display: block; 
        color: #157ab1;
        width: 100%;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .filter-header .body .title_mobile svg {
        margin-left: 5px;
    }
    .card-hotel .info-hotel {
        padding-left: 20px;
        margin-bottom: 20px;
    }
    .card-hotel .col-price {
        border-top: 1px dashed #cccccc;
        border-left: 0px;
        width: 90%;
        flex: 0 0 95%;
        margin: auto;
        padding-bottom: 30px;
    }
    .card-hotel .col-price p.hotel-price { font-size: 24px; }
    .card-hotel .col-price p.hotel-price b { font-size: 36px; }
    .card-hotel .col-price .btn {
        width: 100%;
    }
}
