<div class="card card-hotel">
    <div class=body>
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <img src="{{ './assets/images/hotels/' + data.image }}" class="card-hotel-image">
            </div>
            <div class="col-sm-12 col-md-4 col-lg-5 info-hotel">
                <p class="name">{{ data.name }}</p>
                <div class="stars">
                    <star-svg *ngFor="let star of stars"></star-svg>
                </div>
                <div class="amenities-hotel">
                    <img src="../../../assets/icons/amenities/{{ amenity }}.svg" *ngFor="let amenity of data.amenities" >
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-3 col-price">
                <p>Precio por noche por habitaci&oacute;n</p>
                <p class="hotel-price">ARS<b>{{ data.price }}</b></p>
                <button class="btn">Ver hotel</button>
            </div>
        </div>
    </div>
</div>
