<div class="header">
    <img src="../assets/images/logo-almundo.svg" class="header-img">
</div>
<div class="row bodyList" loaderContent loaderID="request-loader">
    <div class="col-sm-12 col-md-3 div-filters">
        <div class="card filter-header">
            <div class="body">
                <p class="title">Filtros</p>
                <p class="title_mobile" (click)="showFilter('all')">
                    Filtrar
                    <svg height="12" width="12">
                        <polygon points="0, 0 12, 0 6, 6" class="arrow_down" />
                        Su navegador no soporta SVG.
                    </svg>
                </p>
            </div>
        </div>
        <div class="card filter-name">
            <div class="body">
                <p class="title-filter search" (click)="showFilter('name')">
                    <object type="image/svg+xml" data="../assets/icons/filters/search.svg" class="image-filter">
                        Su navegador no soporta SVG.
                    </object>
                    Nombre del hotel
                    <svg height="12" width="12">
                        <polygon points="0, 0 12, 0 6, 6" class="arrow_down" />
                        Su navegador no soporta SVG.
                    </svg>
                </p>
                <div *ngIf="showFilterName" >
                    <input type="text" placeholder="Ingrese el nombre del hotel" name='filterName' [(ngModel)]="filterName">
                    <button class="btn-filter" (click)="searchName()" >Aceptar</button>
                </div>
            </div>
        </div>
        <div class="card filter-stars">
            <div class="body">
                <p class="title-filter stars" (click)="showFilter('stars')">
                    <object type="image/svg+xml" data="../assets/icons/filters/star.svg" class="image-filter">
                        Su navegador no soporta SVG.
                    </object>
                    Estrellas
                    <svg height="12" width="12">
                        <polygon points="0, 0 12, 0 6, 6" class="arrow_down" />
                        Su navegador no soporta SVG.
                    </svg>
                </p>
                <div *ngIf="showFilterStars" >
                    <div>
                        <input class="checkbox-star" type="checkbox" name="filterStar0" value="0" (click)="searchStars($event)">
                        Todas las estrellas
                    </div>
                    <div *ngFor="let star of stars">
                        <input class="checkbox-star" type="checkbox" name="filterStar{{ star }}" value="{{ star }}" (click)="searchStars($event)">
                        <div class="div-star" *ngFor="let starImage of starsImages">
                            <star-svg *ngIf="starImage <= star"></star-svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-9">
        <card-hotel *ngFor="let hotel of hotels" [data]='hotel'></card-hotel>
    </div>
</div>
